


h2, h3 {
    font-family: Georgia, 'Times New Roman', Times, serif;
}


                 /* styles for navbar */

#brand {
    font-family: 'Faster One', cursive;
    font-size: 28px;
}

a:hover {
    background-color: rgb(88, 194, 176);
}
.active {
    font-weight: bold;
    background-color: rgba(0, 0, 0, .1);
}

                 /* for contact page */

#connect {
background-image: url();
background-size: cover; 
                }

.contact {
    background: rgba(0, 0, 0, .6);
    color: white;
    margin-top: 100px;
    padding: 20px;
}

                   /* for About page */

#about {
background-image: url(assets/Images/bgab.jpg);
background-size: cover;
}

footer {
   position: fixed;
   bottom: 0;
}

#name {
    font-weight: bold;
    font-style: italic;
    font-family: 'Times New Roman', Times, sans-serif;
    font-size: 18px;
}

#me {
    border-radius: 300px;
    margin-top: 15px;
}

                  /* for Portfolio */

#my-works {
    background-image: url(assets/Images/bgprt.jpg);
background-size: cover; 
}

#www {
    opacity: 0.7;
}

.card {
    opacity: 0.7;
}