body {
    background-image: url();
    background-size: cover;
}

#brand {
    font-family: 'Faster One', cursive;
    font-size: 28px;
}


.contact {
    background: rgba(0, 0, 0, .6);
    color: white;
    margin-top: 100px;
    padding: 20px;
}

footer {
   position: fixed;
   bottom: 0;
}
